<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rsp_select</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        #user {
            height: 274px;
        }

        canvas {
            pointer-events: none;
            position: fixed;
            top: 0;
            transform: scale(1.1);
        }
    </style>
</head>

<body>

    <h1 class="text-center">가위바위보 게임을 해봅시다!</h1>

    <button id="startButton" style="display:none"></button>
    <canvas id="canvas" style="display:none"></canvas>

    <div class="container text-center">
        <div>
            <button type="button" class="btn btn-outline-secondary border-0 border-height-100" id="user" name="user"
                value="가위" data-bs-toggle="modal" data-bs-target="#resultModal" onclick="RPSSelecter('가위')">
                <img src="http://itsys.hansung.ac.kr/WebEditor/upload/images/gawi.gif">
            </button>
            <button type="button" class="btn btn-outline-secondary border-0" id="user" name="user" value="바위"
                data-bs-toggle="modal" data-bs-target="#resultModal" onclick="RPSSelecter('바위')">
                <img src="http://itsys.hansung.ac.kr/WebEditor/upload/images/bawi.gif">
            </button>
            <button type="button" class="btn btn-outline-secondary border-0" id="user" name="user" value="보"
                data-bs-toggle="modal" data-bs-target="#resultModal" onclick="RPSSelecter('보')">
                <img src="http://itsys.hansung.ac.kr/WebEditor/upload/images/bo.gif">
            </button>
        </div>

        <div style="margin:50px; font-size:50px; font-weight: 500;">vs</div>

        <!-- 컴퓨터 랜덤 가위바위보 -->
        <div style="height: 300px;">
            <input type="hidden" id="ComputerVal" name="ComputerVal" value="가위" />
            <img id="ComputerImg" name="ComputerImg" src="http://itsys.hansung.ac.kr/WebEditor/upload/images/gawi.gif">
        </div>

        <!-- 결과 모달창 띄우기(KH) -->
        <div class="modal fade" id="resultModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="resultModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="resultModalLabel">결과</h5>
                    </div>
                    <div class="modal-body" id="resultModalBody">
                    </div>
                    <div class="modal-footer">
                        <p class="text-muted small">계속하시려면 바깥 공간을 클릭하세요.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- 사용자 랭킹 모달 -->
        <div class="container text-center">
            <form action="{{ url_for('top_users') }}" method="POST">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#topUsersModal">
                    사용자 순위 보기
                </button>
            </form>

        </div>

        <!-- 모달 띄우는 버튼, 닫는 버튼 추가 -->
        <div class="modal fade" id="topUsersModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="topUsersModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="topUsersModalLabel">Top Users</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col" width="10%">#</th>
                                    <th scope="col" width="20%">사용자 ID</th>
                                    <th scope="col" width="20%">사용자</th>
                                    <th scope="col" width="15%">승</th>
                                    <th scope="col" width="15%">패</th>
                                    <th scope="col" width="15%">무</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in top_users %}
                                <tr>
                                    <th scope="row">{{ loop.index }}</th>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ user.user }}</td>
                                    <td>{{ user.win }}</td>
                                    <td>{{ user.lose }}</td>
                                    <td>{{ user.draw }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <!-- <p>~~</p> -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div style="text-align: left;">
            <button type="button" class="btn btn-primary font-weight-bold">승: {{ reports.win }}</button>
            <button type="button" class="btn btn-danger font-weight-bold">패: {{ reports.lose }}</button>
            <button type="button" class="btn btn-success font-weight-bold">무: {{ reports.draw }}</button>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" width="10%">#</th>
                    <th scope="col" width="20%">사용자</th>
                    <th scope="col" width="20%">컴퓨터</th>
                    <th scope="col" width="20%">결과</th>
                    <th scope="col" width="30%">날짜</th>
                </tr>
            </thead>
            <tbody>
                {% for data in record %}
                <tr>
                    <th scope="row">{{ data.id }}</th>
                    <td>{{ data.user }}</td>
                    <td>{{ data.computer }}</td>
                    <td>{{ data.result }}</td>
                    <td>{{ data.GameDay }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='confetti_v2.js') }}"></script>
    <script>
        // DB 변경 사항이 페이지에 즉시 반영되지 않는 오류, form 태그를 사용해야하는 요구 사항에 맞지 않음
        // Ajax 비동기식 데이터 전송
        function RPSSelecter(user) {
            var params = {
                user: user,
                ComputerVal: $("#ComputerVal").val(),
            }

            $.ajax({
                url: '/receive/data/',
                type: 'POST',
                data: params,
                success: function (response) {
                    // 모달에 결과 표시(KH)
                    var resultText = `사용자 : ${response.user}\n컴퓨터 : ${response.computer}\n결과 : ${response.result}`;
                    document.getElementById('resultModalBody').innerText = resultText;
                    
                    // 승리 시 이벤트
                    if (response.result == '승') {
                        $("#startButton").trigger("click");
                        $('#canvas').show();
                    }

                    // 3초 뒤에 새로고침
                    setTimeout(function () {
                        window.location.reload();
                    }, 3000);
                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        }

        // 가위바위보 이미지
        var RPSList = [
            { val: '가위', img: 'http://itsys.hansung.ac.kr/WebEditor/upload/images/gawi.gif' },
            { val: '바위', img: 'http://itsys.hansung.ac.kr/WebEditor/upload/images/bawi.gif' },
            { val: '보', img: 'http://itsys.hansung.ac.kr/WebEditor/upload/images/bo.gif' },

        ];

        var RPSIndex = 0;

        function switchImage() {
            RPSIndex = (RPSIndex + 1) % RPSList.length;
            document.getElementById('ComputerVal').value = RPSList[RPSIndex].val;
            document.getElementById('ComputerImg').src = RPSList[RPSIndex].img;
        }

        // 0.1초마다 이미지 변경
        setInterval(switchImage, 100);

    </script>
</body>

</html>