<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rsp_select</title>
</head>

<body>
    <!-- url_for('함수이름') "함수 이름"이라는 함수가 파이썬에서 실행 + get으로 값을 받는다  -->
    <form action="/sissor" method="GET">
        <button type="submit" name="button" value="가위">가위</button>
    </form>
    <form action="/rock" method="GET">
        <button type="submit" name="button" value="바위">바위</button>
    </form>
    <form action="/paper" method="GET">
        <button type="submit" name="button" value="보">보</button>
    </form>


</body>

</html>