<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Users</title>
    <!-- CSS stylesheets나 링크 추가 -->
</head>
<body>
    <h1>Top Users</h1>
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Wins</th>
                <th>Loses</th>
                <th>Draws</th>
            </tr>
        </thead>
        <tbody>
            {% for user in top_users %}
                <tr>
                    <td>{{ user.user }}</td>
                    <td>{{ user.win }}</td>
                    <td>{{ user.lose }}</td>
                    <td>{{ user.draw }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>
